

<div id="container">

<!-- TODO: header  -->
<!-- TODO: side menu  -->

<section id="main-content">
  <section ng-cloak class="wrapper">
    <div class="wrap"> 
      <div class="view-header">
        <h1 class="page-header">Page header</h1>
      </div>
    </div>


<div class="coll-md-10 coll-md-offset-1">
  <div class="panel">
    <div class="panel-body">

      <div class="form-group col-lg-12">
        <label>User name<i class="fa fa-info-circle"></i></label>
      </div>
    </div>
  </div>
</div>


<div class="coll-md-10 coll-md-offset-11">
<div class="panel">
  <div class="panel-body">
    <ul ng-repeat="awesome in awesomeThings">
      <div class="form-group col-lg-12">
        <li>{{awesome}}</li>
      </div>  
    </ul>
  </div>
</div>


</div>

  </section>
</section>


</div>